{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <title>Statistique</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a  class="logo me-auto"><img src="{% static 'assets/img/sitem1.png'%}" style="width:90px" class="img-fluid mt-0 pt-0"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <a  class="logo me-auto"><img src="{% static 'assets/img/somfy1.png'%}" style="width:70px" class="img-fluid mt-0 pt-0"></a>
            <a class="" style="color: inherit;" href="{% url 'accounts:logout'%}">
                <i class="fa fa-user me-sm-1"></i>
                  Se déconnecter
          </a>
        </div>
      </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <canvas id="myChart" width="100" height="100"></canvas>
            </div>
            <div class="col-sm-6 mt-5">
                <canvas id="myChart2" width="300" height="300"></canvas>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-6">
                <canvas id="myChart3" width="300" height="100"></canvas>
            </div>
            <div class="col-sm-6">
                <canvas id="myChart4" width="300" height="100"></canvas>
            </div>
        </div>
    </div>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  
    <script>
      const ctx = document.getElementById('myChart').getContext('2d');
      const ctx2 = document.getElementById('myChart2').getContext('2d');
      const ctx3 = document.getElementById('myChart3').getContext('2d');
      const ctx4 = document.getElementById('myChart4').getContext('2d');
      data1 = ["{{ total_probleme_de_maintenance }}", "{{ total_reclamation_manque_piece }}", "{{ total_reclamation_probleme_qualite }}"]
      data2 = ["{{ total_probleme_de_maintenance }}", "{{ total_reclamation_manque_piece }}", "{{ total_reclamation_probleme_qualite }}"]
      data3 = ["{{ total_probleme_de_maintenance }}", "{{ total_reclamation_manque_piece }}", "{{ total_reclamation_probleme_qualite }}"]
      data4 = ["{{ total_probleme_de_maintenance }}", "{{ total_reclamation_manque_piece }}", "{{ total_reclamation_probleme_qualite }}"]
      console.log('aaaaaaaaaa',data1)
      const myChart = new Chart(ctx, {
          type: 'polarArea',
          data: {
              labels: ['probleme de maintenance','reclamation manque piece', 'reclamation probleme qualite'],
              datasets: [{
                  label: 'probleme de maintenance',
                  data: data1,
                  
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
      const myChart2 = new Chart(ctx2, {
          type: 'bar',
          data: {
              labels: ['probleme de maintenance','reclamation manque piece', 'reclamation probleme qualite'],
              datasets: [{
                  label: 'probleme de maintenance',
                  data: data1,
                  
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
      const myChart3 = new Chart(ctx3, {
          type: 'doughnut',
          data: {
              labels: ['probleme de maintenance','reclamation manque piece', 'reclamation probleme qualite'],
              datasets: [{
                  label: 'probleme de maintenance',
                  data: data1,
                  
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
      const myChart4 = new Chart(ctx4, {
          type: 'pie',
          data: {
              labels: ['probleme de maintenance','reclamation manque piece', 'reclamation probleme qualite'],
              datasets: [{
                  label: 'probleme de maintenance',
                  data: data1,
                  
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
      </script>
  
  </body>
</html>